<div class="about-me-container">
  <div class="cat-info">
    <div class="category">
      <h3>Hobbies</h3>
    </div>
    <div class="cat-card">
      <ul style="list-style: none;">
        <li>Youtuber</li>
        <li>Writing</li>
        <li>Reading</li>
        <li>Basketball</li>
        <li>Long drive</li>
        <li>Music and Chill</li>
      </ul>
    </div>
  </div>

  <div class="cat-info">
    <div class="category">
      <h3>Certification</h3>
    </div>
    <div class="cat-card">
      <div class="qualification">
        <h4>Master of Computer Application</h4>
      </div>
      <div class="qualification-details">
        <p>Maharaja Agresen Institue of Management and Technology, Jagadhari</p>
        <p>2020 - 2022</p>
      </div>
      <div class="qualification">
        <h4>Bachelor of Computer Application</h4>
      </div>
      <div class="qualification-details">
        <p>Govt. P. G. College, Ambala Cantt</p>
        <p>2017 - 2020</p>
      </div>
    </div>
  </div>
  <div class="cat-info">
    <div class="category">
      <h3>Education</h3>
    </div>
    <div class="cat-card">
      <div class="qualification">
        <h4>Master of Computer Application</h4>
      </div>
      <div class="qualification-details">
        <p>Maharaja Agresen Institue of Management and Technology, Jagadhari</p>
        <p>2020 - 2022</p>
      </div>
      <div class="qualification">
        <h4>Bachelor of Computer Application</h4>
      </div>
      <div class="qualification-details">
        <p>Govt. P. G. College, Ambala Cantt</p>
        <p>2017 - 2020</p>
      </div>
    </div>

  </div>
  <div class="cat-info">
    <div class="category">
      <h3>Experienced</h3>
    </div>
    <div class="cat-card">
      <ul style="list-style: none;">
        <li>Tutoring - 5 years</li>
        <li>Web Development - 2years</li>
        <li>Mentoring - 1 years</li>
        <li>Youtube - 8months</li>
      </ul>
    </div>
  </div>
</div>
