.container-div {
}
.container {

  display: flex;
  flex-grow: 1;
  width: 90%;
  margin: auto;
  height: 800px;
  max-height: auto;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.514);

}

.img-div {
  width: 40%;
}

.profile-pic {
  width: 400px;
  border: 10px solid var(--color-tert);
  padding: 10px;
  border-radius: 50%;
}

.title-div {
  text-align: center;
  color: var(--color-tert);
}

.title-div h2 {
  font-size: 5rem;
  margin: 20px 0;
}

.title-div h3 {
  font-size: 2rem;
  margin: 30px 0;
}
