<div class="skill-container">
  <div class="skills-div">

    <div class="skill tech-skill">
      <div class="img-div">
        <img src="../../../assets/images/web-design.png" alt="">
      </div>
      <div class="skill-div">
        <h4>Technical Skills</h4>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>Angular</li>
        <li>React</li>
        <li>Vue</li>
      </ul>
      </div>
    </div>

  <div class="skill nonTech-skill">
      <div class="img-div">
        <img src="../../../assets/images/study-pictures.png" alt="">
      </div>
      <div class="skill-div">
        <h4>Non-Tech Skills</h4>
      <ul>
        <li>Presentations</li>
        <li>Team Management</li>
        <li>Creative</li>
        <li>Solution Oriented</li>
      </ul>
      </div>
    </div>

    <div class="skill social-skill">
      <div class="img-div">
        <img src="../../../assets/images/users.png" alt="">
      </div>
      <div class="skill-div">
        <h4>Social Skills</h4>
      <ul>
        <li>Communication </li>
        <li>Inspiring </li>
        <li>Motivational Attitude</li>
        <li>Comforting</li>
        <li>Mentoring</li>
      </ul>
      </div>
    </div>

</div>
</div>
